.detail-header {
  font-size: 24px;
  color: rgb(51, 51, 51);
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.detail-image {
  width: 480px;
  height: 350px;
  margin: 10px;
}
.title-detail {
  font-size: 18px;
  color: green;
}
.detail {
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-top: 4px;
}
.aligment {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
}
.butt-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  background-color: rgb(244, 239, 239);
  width: 100%;
  height: 70px;
}
.button-detail {
  width: 250px;
  height: 40px;
  margin-top: 15px;
  margin-left: 150px;
}
.edit {
  color: red;
}
.delete {
  color: red;
}

.modal-content {
  width: 950px;
}
.modal-dialog {
  max-width: 500px;
  margin: 1.75rem 210px;
}

.carousel-item > img {
  width: 100%;
}
.img-carousel {
  max-height: 450px;
}
.details {
  margin-top: 31px;
}
