a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 8rem;
  margin-bottom: 71px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert-danger {
  background: #dc3545;
  color: #fff;
}

.alert-success {
  background: #2fcc3c;
  color: #fff;
}
