.form .social-input i.fa-twitter {
	color: #38a1f3;
}
.form .social-input i.fa-facebook {
	color: #3b5998;
}
.form .social-input i.fa-instagram {
	color: #c4302b;
}

.form .social-input i.fa-linkedin {
	color: #0077b5;
}
.large {
	color: #17a2b8;
}
