.text-dash {
	color: #17a2b8;
	margin: 41px 0px 16px;
}
.try {
	display: flex;
}

.btn-rem {
	display: inline-block;
	padding: 6.4px 20.8px;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin: 0px 8px 0px 0px;
	transition: opacity 0.2s ease-in;
	outline: none;

	color: #fff;
}
