/* .landing {
	position: relative;
	background: url('../img/showcase.jpg') no-repeat center center/cover;
	height: 100vh;
} */

.landing-inner {
	color: #fff;
	height: 100%;
	width: 100%;
}
.img_carousel {
	width: 100%;
	max-height: 400px;
	background-size: cover;
}
.cont {
	padding-top: 98px;
}
.row {
	display: flex;
	/* flex-wrap: wrap; */
	margin-right: -15px;
	margin-left: -15px;
}

.list-marked li:before {
	content: "✓";
	padding: 20px;
}

.list-marked li {
	color: rgba(0, 0, 0, 0.6);
	font-size: 19px;
	padding: 10px;
}

.list-marked {
	margin-left: 95px;
}
.services-text {
	margin: 17px 0px 0px;
}

.services-title {
	color: #00bbd3;
}
