h3 {
  font-size: 30px;
  line-height: 1.2;
  /* margin-bottom: 1rem; */
  text-align: center;
  color: #17a2b8;
  margin-top: 29px;
}

p {
  font-size: 1rem;
  margin-bottom: 0.1rem;
  color: rgba(0, 0, 0, 0.6);
}

.text {
  font-size: 14px;
  /* line-height: 1.75; */
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 32px;
  text-align: center;
}

.btn {
  display: inline-block;

  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  /* background: #17a2b8; */
  background: #00bbd3;
  color: #fff;
}
.input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.bottom-form {
  margin: 16px 0px;
  color: #343a40;
}

.inscrit {
  margin: 1rem 0;
  color: black;
}

.register-text {
  font-size: 24px;
  font-weight: 400;
  color: #17a2b8;
  padding-bottom: 32px;
  text-align: center;
  margin-top: 29px;
}

.direction {
	color: #17a2b8;
}
