a {
	text-decoration: none;
}

ul {
	list-style: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0px;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: rgb(42, 49, 57);
	/* background-color: #006e7f; */
	/* background-color: #29333d; */
	top: 0;
	opacity: 0.9;
}
.navbar ul {
	display: flex;
}

.navbar a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 18px;
	padding: 8px;
	margin: 0px 4px;
}

.navbar a:hover {
	color: #17a2b8;
	text-decoration: none;
}
