.title_profile {
  font-size: 29px;
  font-weight: 400;
  color: #17a2b8;
  text-align: center;
  margin-top: 29px;
}
.sous_titre {
  font-size: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 32px;
  padding-top: 16px;
  text-align: center;
}
.column {
  widows: 25%;
  float: left;
  padding: 0px 10px;
}

.row::after {
  content: "";
  font-display: table;
  clear: both;
}

.row {
  justify-content: center;
}

@media screen and(max-width:600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card_part {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  width: 320px;
  height: 421px;
  color: #747474;
  margin: 10px;
  background-color: white;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.button {
  display: inline-block;
  background-color: #00bbd3;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-top: 12px;
}

.round-img {
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 23px;
  border-radius: 50%;
}
.card_text {
  margin: 0px, 0px, 16px;

  padding-left: 25px;
  padding-right: 25px;
}

.icon_name {
  padding-left: 20px;
}

.test {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #00bbd3;
  color: #fff;
}
