.profile {
  box-sizing: border-box;
  max-width: 928px;
  height: 450px;
  padding-top: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.profile_header {
  transition: color 0.4s ease-out 0.1s;
}
.profile:before {
  content: "";
  width: 135px;
  height: 58px;

  transition: transform 0.5s cubic-bezier(0.42, 0.04, 0.13, 0.92);
  border-radius: 50%;
  background-color: #00bbd3;

  position: absolute;
  top: -70px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) scale(7);
}
.profile:hover:before {
  transition: transform 0.7s cubic-bezier(0.66, 0.09, 0, 1.31);
  transform: translateX(-50%) translateY(200%) scale(25);
}

.profile:hover,
.profile:hover .profile__value,
.profile:hover .profile__social {
  color: #fff;
}

.profile:hover .profile__group,
.profile:hover .profile_avatar {
  border-color: #fff;
}

.profile_avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;

  border: 6px solid #00bbd3;
  transition: border-color 0.4s ease-out 0.1s;
}

.profile:hover .profile__avatar {
  transition-delay: 0.2s;
}
.profile_name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 30px;
}

.profile_grid {
  padding-top: 36px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.profile_socials {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_social {
  transition: color 0.4s ease-out 0.3s;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
}
.light-btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 7px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 23px;
  margin-left: 9px;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.light-btn:hover {
  text-decoration: none;
  color: #333;
}
.para {
  font-size: 1rem;
  margin-bottom: 0.1rem;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
}
