.card {
  border: 1px solid black;
  width: 290px;
  height: 473px;
  margin: 40px 15px;
  margin-right: 40px;
  margin-bottom: 20px;
  position: relative;
}
.image {
  width: 288px;
  height: 175px;
  /* margin-top: -6px; */
}
.imageButt {
  position: relative;
}

.title-Post {
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  padding: 14px;
  background-color: rgb(51, 165, 97);
}
.Post {
  background-color: #f7f7f7;
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px 5px 19px;
  height: 40px;
}
.post-list-title {
  font-size: 16px;
  color: rgb(51, 165, 97);
}
.post-list-detail {
  font-size: 16px;
  color: rgb(160, 173, 175);
  margin-top: -9px;
}
.post-list-Price {
  font-size: 20px;
  color: #3b4344;
  margin-top: -9px;
}

.delete {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
}
.edit {
  font-size: 14px;
  color: green;
}

.post-button-detail::before {
  content: "+";
  position: absolute;
  top: 35%;
  left: 87%;
  transform: translate(-50%, -50%);
  color: green;
  font-size: 45px;
  line-height: 1;
  background-color: rgb(37, 50, 56);
  border-radius: 100%;
  width: 40px;
  text-align: center;
  height: 40px;
}
