.headerAdd {
  padding: 50px 0px;
  font-size: 2rem;
  color: rgb(51, 51, 51);
}
.add-header {
  display: flex;
  justify-content: space-around;
}
.add-description {
  width: 350px;
  height: 130px;
}
.add-input {
  width: 350px;
}
.add-titel {
  color: rgb(7, 150, 66);
}
