.listCard {
  display: flex;
  flex-wrap: wrap;
  margin-left: 102px;
}
.AjoutBien {
  font-size: 2.3rem;
  color: black;
  margin: 100px 81px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  width: 60px;
  margin-left: 193px;
  margin-top: 130px;
}
.img {
  width: 280px;
  height: 400px;
}
.imgArrierePlan {
  position: absolute;
  opacity: 0.7;
  margin-top: 40px;
  margin-left: 122px;
}
.dispalyList {
  display: flex;
}
.filtre {
  background: rgb(244, 237, 237);
  height: 522px;
  max-width: 285px;
}
.header-filtre {
  color: rgb(72, 72, 72);
  margin-bottom: 2rem;
}
